@import './reset';
@import './fonts';

body {
    background-image: url('../img/Pattern.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #000;
}